body{
    background-color: black;
    color: rgb(255, 136, 24);
    font-family: Architects Daughter ;
    text-align: center;
    padding-top: 20px;
}
.cells{
    background-color: orangered;
    color: orangered;
}